@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.footer {
  /* width: 100%;
  height: 20vh; */
  background-color: #3f4726;
  margin-top: 60px;
  color: white;
}

.footer .col-sm-6 {
  display: flex;
  display: inline-grid;
  justify-content: center;
}
.footer .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-media-icons .bi {
  margin-right: 20px;
  margin-bottom: 10px;
  color: white;
}
