.slidefour {
  width: 100%;
  display: flex;
  justify-content: center;
  color: transparent;
  margin-bottom: 50px;
  margin-top: 50px;
}

.slidefour h1 {
  font-size: 40px;
  background-image: linear-gradient(to left, #b700ff, #bb77f3);
  color: transparent;
  background-clip: text;
}

.mySwiper {
  margin-bottom: 5%;
}

.mySwiper2 {
  margin-bottom: 5%;
}
